body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 25px;
    border-radius: 50px;
    font-size: larger;
    background-color: #f0f0f0;
    color: darkslateblue;
    font-weight: 200;
}